div.d1{
	background-color: orange;
	text-align: center;
	max-width:330px;
	height: 40px;
	border-color:black;
	border-style:solid;
}


div.d2{
	background-color: orange;
	text-align: center;
	max-width:340px;
	height: 40px;
	margin-top:200px;
	border-color:black;
	border-style:solid;
}
div.d3{
	background-color: orange;
	text-align: center;
	max-width:340px;
	height: 40px;
	margin-top:10px;
	border-color:black;
	border-style:solid;
}